

#directions {
	background: #f3f3c7;
	padding: 20px;
}

#header, footer {
	border: 3px solid red;
	background: orange;
	font-size: 20px;
}

body {background: mediumpurple;}

h2 {
	margin-left: 80px;
	padding-bottom: 10px
}

.p {
	margin:10px;
}

#wins, #losses {
	font-weight: bold;
}

#winloss {

	height: 120px;
	margin-left:20px;
	background: teal;
}

.randomNum {
	
	background: olive;
	height: 120px;
}

#yourscore {
	background: teal;
	margin: 5px;
		margin-top: 20px;
	height: 60px;
}

#scoreCounter {
	margin: 5px;
	margin-top: 20px;
	background: teal;
	height: 60px;
}

#yourscore, #scoreCounter {
  font-weight: bold;
}

#winsLosses {
	height: 100px;
}

#foot {
	padding-top: 15px;
}

img {
	margin: 10px;
	background: mediumpurple;
	height: 100px;
}

button {background: mediumpurple;}